[submodule "libs/libcrypton"]
	path = libs/libcrypton
	url = https://github.com/NeoResearch/libcrypton.git
[submodule "libs/csbiginteger-cpp"]
	path = libs/csbiginteger-cpp
	url = https://github.com/NeoResearch/csbiginteger-cpp
