[submodule "libs/libcrypton"]
	path = libs/libcrypton
	url = https://github.com/NeoResearch/libcrypton.git
[submodule "libs/csbiginteger-cpp"]
	path = libs/csbiginteger-cpp
	url = https://github.com/NeoResearch/csbiginteger-cpp
[submodule "libs/lib/node_modules/csBigInteger.js"]
	path = libs/lib/node_modules/csBigInteger.js
	url = https://github.com/NeoResearch/csBigInteger.js.git
[submodule "libs/csbiginteger-js"]
	path = libs/csbiginteger-js
	url = https://github.com/NeoResearch/csbiginteger-js.git
